body{
    max-width: 480px;
    margin: 16px auto;
}

.main-container{
    padding: 16px;
    background-color: #e4e3e3;
}

input{
    padding: 8px 12px;
    width: 40%;
}

button{
    padding: 10px 12px;
    border: 0;
    color: #fff;
    cursor: not-allowed;
    width: 18%;
}

button:not([disabled="disabled"]){
    background-color: #2196F3;
    cursor: pointer;
}

button:not([disabled="disabled"]):hover{
    background-color: #1565C0;
    cursor: pointer;    
}

.error{
    font-weight: bold;
    color: red;
    border: 1px solid red;
}

.text-center{
    text-align: center;
}

.result-area{
    background: #fbfbfb;
    text-align: center;
    margin-bottom: 30px;
}

.result-area > div{
    width: 19%;
    display: inline-block;
}
